<div class="cards-top-div welcome-div">
    <div class="d-flex justify-content-between align-items-start mb-3">
        <div class="main-title-div">
            <h3 class="main-ttl">Welcome Back, John Doe!</h3>
            <span class="text-badge grey-badge me-2">Jan 01, 2023 - Dec 31, 2023 </span>
        </div>
        <div class="refresh-btn">
                <mat-icon>refresh</mat-icon>
        </div>
    </div>
    <div class="active-integrations d-flex align-items-center mb-3">
        <h5 class="card-title me-2 mb-0">Active Integrations:</h5>
        <span class="text-badge skyblue-badge me-2 my-2">JIRA</span>
        <span class="text-badge skyblue-badge me-2 my-2">Click Up</span>
        <span class="text-badge skyblue-badge me-2 my-2">AZURE</span>
    </div>
</div>
<app-overall-hours></app-overall-hours>
<app-timesheet-summary></app-timesheet-summary>
<app-project-hours></app-project-hours>
<app-employee-summary></app-employee-summary>
<app-sr-ed-summary></app-sr-ed-summary>