.sidenav-container {
  height: 100vh;
  .mat-sidenav {
    width: max-content;
    padding: 0 14px;
    background: #fff;
  }
}

.sidebar-toggle-button {
  position: absolute;
  top: 33px;
  z-index: 9;
  left: 20px;
  border: 1px solid transparent !important;
  padding: 0;
}

.logo {
  text-align: center;
  padding: 28px 1px 35px 1px;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  position: relative;
  border: 1px solid var(--border-grey);
  border-radius: 14px;
}
.user-content span {
  display: block;
  font-size: 14px;
  line-height: initial;
}
.user-content .designation {
  color: #737373;
  font-size: 12px;
    font-weight: 400;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 3px;
}
.user-profile .down-arrow {
  position: absolute;
  right: 12px;
  width: 34px;
  padding: 0;
  top: 53%;
  transform: translateY(-50%);
  height: auto !important;

}

.down-arrow mat-icon.mat-icon {
    font-size: 35px !important;
    height: 32px;
    width: 32px;
}
:host{
  .rectangle {
    display: flex;
        height: 22px;
        width: 25px;
        justify-content: end;
        border: 2px solid black;
        border-radius: 2px;
  }
  
  .square {
    height: 20px;
    width: 17px;
    border-left: 2px solid black;
  }
  
  .material-icons {
    font-size: 16px !important;
    color: #000;
    margin-top: 1px;
    height: 19px;
    width: 19px;
  }
}

.sidenav-container  .navigation-wrap a .material-icons {
  font-size: 21px !important;
  color: #000;
  margin-top: 1px;
  height: 19px;
  width: 19px;
}