.navbar {
  padding: 8px 22px 8px 30px;
    background-color: #fff !important;
  }
  .badges-div button.btn {
    padding: 6px 7px;
    border-radius: 9px !important;
    background: #F6F6F6;
    display: flex;
    align-items: center;
}
.badges-div button mat-icon.mat-icon {
  height: 30px;
  width: 30px;
  font-size: 31px;
}
.badges-div span.position-absolute {
  top: 13px !important;
  left: auto !important;
  right: -3px !important;
  border-radius: 4px !important;
  background-color: #EA3030 !important;
  min-width: 13px;
  min-height: 13px;
  font-size: 8px;
}
.vertical-border {
  height: 65px;
  border: 1px solid #C9C9C9;
}
