<div class="card-outer">
    <div class="d-flex justify-content-between">
        <h5 class="card-title">Employee’s Summary</h5>
        <span class="d-flex align-items-center viewall-btn">
            <a href="#" class="table-view-all-button mr-2">View All</a>
            <mat-icon class="cursor-pointer">drag_indicator</mat-icon>
        </span>
    </div>
    <div>
        <div class="mb-3 d-flex justify-content-between align-items-center table-top-section">
            <form class="d-flex me-auto" style="width: 500px;">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" (input)="onSearch($event)" placeholder="Search..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>

            <div class="button-container">
                <button (click)="filter()" class="btn btn-light me-2">Filter <mat-icon
                        class="ml-1">filter_list</mat-icon></button>
                <button (click)="onExport()" class="btn btn-light">Export <mat-icon
                        class="ml-1">download</mat-icon></button>
            </div>
        </div>
        <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-alpine"
            [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="10"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>